@import '../../styles/global-variables.scss';
@import "./variables.scss";
@import "./todo-list.scss";
@import "./elips.scss";

.wrapper {
  display: flex;
  justify-content: center;
  max-width: $max-width;
  margin: 0 auto;
}

.btn-primary {
  background-color: $secondary-color;
  border-radius: 70px;
  width: 100px;
  height: 45px;
  color: $color-beta;
  font-weight: $font-weight-lg;

    &:hover {
    box-shadow: $primary-shadow;
  }
}