.todo-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top:  0  0  0 30px;
  width: 100%;

  &__header {
    margin: 0 auto;
    margin-top: 30px;
  }

  &__logo {
    color: $color-beta;
    padding: 30px;
    letter-spacing: $primary-letter-spacing;
    font-size: $font-size-huge;
    line-height: 59px;
    font-weight: $font-weight-huge;
    text-shadow: $secondary-shadow;
  }

  &__create-item {
    margin-top: 60px;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  &__input-bar {
    padding: 0px 0px 0px 13px;
    border-radius: 70px;
    border: 2px solid $color-beta;
    background: $color-alpha;
    width: 400px;
    height: 40px;
    outline: none;
    color: $color-beta;
    font-size: $font-size-medium-m;
    font-weight: $font-weight-lg;
  }

  &__input-bar::placeholder {
    color: $color-beta;
    font-weight: $font-weight-medium;
  }

  &__button {
    margin-left: 15px;
  }

  &__list {
    margin-top: 30px;
  }
}