$max-width: 700px;

$primary-color: rgba(242, 182, 27, 0.94);
$secondary-color: rgba(255, 255, 255, 0.35);


$primary-font-color: white;
$primary-letter-spacing: 0.03em;

$primary-shadow: 0px 0px 11px 11px rgba(242, 182, 27, 0.65);
$secondary-shadow: 0px 20px 15px rgba(0, 0, 0, 0.25);


$font-weight-medium: 500;
$font-weight-big: 600;
$font-weight-lg: 700;
$font-weight-huge: 900;