<div class="task-list-item">

  <div class="task-list-item__header header">
    <div class="header__name">
      <textarea #taskName [(ngModel)]="nameText" class="header__title" readonly>{{task.name}}</textarea>
    </div>

    <div class="header__atributes">
      <div class="header__date-container">
        <p class="header__text">DUE DATE</p>
        <div class="header__icon header__icon_type_calendar"></div>
      </div>

      <div class="header__priority-container">
        <p class="header__text">PRIORITY</p>
        <div class="header__icon header__icon_type_flag"></div>
      </div>

      <div class="header__status status">
        <p class="status__text">STATUS</p>
        <p class="status__info-text">
          To do
        </p>
      </div>
    </div>
  </div>

  <div class="task-list-item__body task-details">
    <div class="task-details__description-container">
      <textarea #taskDescription [(ngModel)]="descriptionText" class="task-details__description" readonly>{{task.description}}</textarea>
    </div>
  </div>

  <div class="task-list-item__btn-wrapper btn-wrapper">
    <button class="btn-secondary btn-secondary_purpose-edit" (click)="onEditTask()">Edit</button>
    <button class="btn-secondary btn-secondary_purpose-delete">Delete</button>
  </div>
    
  <div *ngIf="editable">
    <div class="btn-wrapper">
      <button class="btn" (click)="undoChanges()">Cancel</button>
      <button class="btn btn-save" (click)="updateTask()">Save</button>
    </div>
  </div>
</div>