<div class="task-list-item">

  <div class="task-list-item__header header">
    <div class="header__name">
      <textarea #taskName [(ngModel)]="taskTitleInput" class="header__title" readonly>{{taskTitleInput}}</textarea>
    </div>

    <div class="header__atributes">
      <div class="header__priority-container">
        <p class="header__text">PRIORITY</p>
        <div class="header__icon header__icon_type_flag" [ngClass]="{onEdit:editable}"></div>
      </div>

      <div class="header__status status">
        <p class="status__text">STATUS</p>
        <div class="status__changer" [ngClass]="{onEdit:editable}" [style.background-color]="getBackgroundColor()" (click)="changeStatus()">
          <p class="status__info-text">
            {{taskStatus}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="task-list-item__body task-details">
    <div class="task-details__description-container">
      <textarea #taskDescription [(ngModel)]="taskDescriptionInput" class="task-details__description" readonly>{{taskDescriptionInput}}</textarea>
    </div>
  </div>

  <div class="task-list-item__edit-delete-buttons-wrapper edit-delete-buttons-wrapper">
    <button class="edit-delete-buttons-wrapper__edit-btn" (click)="onEditTask()">Edit</button>
    <button class="edit-delete-buttons-wrapper__delete-btn" (click)="onDelete()">Delete</button>
  </div>

  <div *ngIf="editable">
    <div class="task-list-item__editors-buttons-wrapper editors-buttons-wrapper">
      <button class="editors-buttons-wrapper__cancel-btn" (click)="undoChanges()">Cancel</button>
      <button class="editors-buttons-wrapper__save-btn" (click)="onSave()">Save</button>
    </div>
  </div>
</div>