  @import '../../../styles/global-variables.scss';
  
  .create-task {
    margin-top: 60px;
    display: flex;
    align-items: baseline;
    justify-content: center;

  &__input-bar {
    padding: 0px 0px 0px 13px;
    border-radius: 70px;
    border: 2px solid $color-white;
    background: $color-grey;
    width: 340px;
    height: 40px;
    outline: none;
    color: $color-white;
    font-size: $font-size-medium-m;
    font-weight: $font-weight-lg;
  }

  &__input-bar::placeholder {
    color: $color-white;
    font-weight: $font-weight-medium;
  }

  &__add-task-btn {
    margin-left: 15px;
    background-color: $color-yellow;
    border-radius: 70px;
    min-width: 90px;
    height: 45px;
    color: $color-white;
    font-weight: $font-weight-lg;
    font-size: $font-size-medium-s;
    
    &:hover {
      box-shadow: $shadow-task;
    }
  }
}