.status {
    &__info-text {
    white-space: nowrap;
    font-size: $font-size-medium-l;
    cursor: inherit;
  }
  &__changer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 120px;
    position: absolute;
    left: -15px;
    top: 17px;
    border-radius: 0px 50px 50px 0px;
    border-left: 1px solid $color-white;
    z-index: 10;
  }
}