@import '../../../../styles/global-variables.scss';
@import "./header.scss";
@import "./task-details.scss";
@import "./status.scss";

.task-list-item {
  position: relative;
  margin-bottom: 30px;
  &__header {
    display: flex;
    align-items: flex-end;
  }

  &__edit-delete-buttons-wrapper {
    position: absolute;
    top: 50px;
    right: -11px;
  }

  &__editors-buttons-wrapper {
    position: absolute;
    right: 106px;
    bottom: -17px;
    z-index: 11;
  }
}

.statusChanger:hover{
  cursor: pointer;
}

.inputFields:hover{
  cursor: text;
}

.priorityOnEdit:hover {
  cursor: pointer;
}

.priority {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: $color-white;
  border-radius: 22px;
  width: 74px;


  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    align-items: center;
  }

  &__title {
    color: $color-black;
    font-weight: 500;
  }

  &__icon {
    width: 18px;
    height: 16px;
  }
}