@import '../../../../styles/global-variables.scss';
@import "./header.scss";
@import "./task-details.scss";
@import "./status.scss";

.task-list-item {
  position: relative;
  margin-bottom: 30px;
  &__header {
    display: flex;
    align-items: flex-end;
  }

  &__edit-delete-buttons-wrapper {
    position: absolute;
    top: 50px;
    right: -11px;
  }

  &__editors-buttons-wrapper {
    position: absolute;
    right: 106px;
    bottom: -17px;
    z-index: 11;
  }
}

.statusChanger:hover{
  cursor: pointer;
}

.inpufFields:hover{
  cursor: text;
}