$primary-font: 'Montserrat', sans-serif;

$font-weight-huge: 900;
$font-weight-lg: 700;
$font-weight-big: 600;
$font-weight-medium: 500;
$font-weight-small: 300;

$font-size-huge: 48px;
$font-size-medium-l: 18px;
$font-size-medium-m: 16px;
$font-size-medium-xs: 14px;
$font-size-small: 10px;

$primary-letter-spacing: 0.03em;

$primary-color: linear-gradient(110.4deg, #C734FB 2%, rgba(0, 10, 255, 0.67) 101.33%);
$secondary-color: rgba(242, 182, 27, 0.94);