$primary-font: 'Montserrat', sans-serif;

$max-width-wrapper: 700px;

$font-weight-huge: 900;
$font-weight-lg: 700;
$font-weight-big: 600;
$font-weight-medium: 500;
$font-weight-small: 300;

$font-size-huge: 48px;
$font-size-medium-l: 18px;
$font-size-medium-m: 16px;
$font-size-medium-s: 14px;
$font-size-medium-xs: 12px;
$font-size-small: 10px;

$primary-letter-spacing: 0.03em;

$color-gradient-pink-blue: linear-gradient(93deg, #C734FB 2%, rgba(0, 10, 255, 0.67) 101.33%);
$color-yellow: rgba(242, 182, 27, 0.94);
$color-yellow-dark: rgba(242, 182, 27, 0.65);

$color-white: rgb(255, 255, 255);
$color-grey: rgba(255, 255, 255, 0.35);
$color-black-light: rgba(0, 0, 0, 0.25); 
$color-black: rgba(0, 0, 0,); 
$color-pink: rgba(255, 49, 173, 1);
$color-red: rgba(201, 4, 4, 1);
$color-green: rgb(25, 137, 6);

$palette-primary: $color-gradient-pink-blue;

$shadow-task: 0px 0px 11px 11px $color-yellow-dark;
$shadow-logo: 0px 20px 15px $color-black-light;
$shadow-task-list-item: 0px 30px 10px $color-black-light;