@import '../styles/global-variables.scss';

.wrapper {
  display: flex;
  justify-content: center;
  // max-width: $max-width-wrapper;
  // margin: 0 auto;
  max-width: 700px;
  margin: auto;
}

.todo-list {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;

  &__header {
    margin: 0 auto;
    margin-top: 30px;
  }

  &__logo {
    color: $color-white;
    text-align: center;
    padding: 30px;
    letter-spacing: $primary-letter-spacing;
    font-size: $font-size-huge;
    line-height: 59px;
    font-weight: $font-weight-huge;
    text-shadow: $shadow-logo;
  }

  &__create-task {
    margin-top: 60px;
  }

  &__task-filter {
    margin-top: 40px;
  }

  &__task-list {
    margin-top: 60px;
  }
}