<div class="task-filter">

  <button class="task-filter__btn btn task-filter__elips elips" #filter value="all" (click)="onClick(filter.value)">All</button>

  <button class="task-filter__btn btn task-filter__elips elips" #filter value="toDo" (click)="onClick(filter.value)">To Do</button>

  <button class="task-filter__btn btn task-filter__elips elips" #ffilter value="ongoing" (click)="onClick(filter.value)">Ongoing</button>

  <button class="task-filter__btn btn task-filter__elips elips" #filter value="done" (click)="onClick(filter.value)">Done</button>
</div>