  @import '../../../styles/global-variables.scss';

.task-filter {
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
  padding-bottom: 11px;

  &__btn {
    position: relative;
    font-family: inherit;
    font-size: $font-size-medium-l;
    font-weight: $font-weight-big;
    color: $color-white;
    background-color: inherit;
    line-height: 43px;
    letter-spacing: $primary-letter-spacing;
  }

  &__elips {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 110px;
    min-height: 50px;
  }
}

.active {
  border: 2px solid rgb(235 255 56 / 61%);
}

::-webkit-scrollbar {
  display: none;
}