<div class="task-filter">

  <button class="task-filter__btn btn task-filter__elips elips" #filterAll (click)="onFilterBy('All')">All</button>

  <button class="task-filter__btn btn task-filter__elips elips" #filterToDo (click)="onFilterBy(statusEnum.toDo)">To Do</button>

  <button class="task-filter__btn btn task-filter__elips elips" #filterOngoing (click)="onFilterBy(statusEnum.ongoing)">Ongoing</button>

  <button class="task-filter__btn btn task-filter__elips elips" #filterDone (click)="onFilterBy(statusEnum.done)">Done</button>
</div>