.task-details {
  position: relative;
  display: flex;
  background-color: $color-yellow;
  border-radius: 0px 50px 50px 50px;
  box-shadow: $shadow-task-list-item;
  width: 630px;
  height: 120px;

  &__description-container {
    display: flex;
    margin: 10px 0 0 15px;
  }

  &__description {
    background-color: inherit;
    font-weight: $font-weight-medium;
    font-size: $font-size-medium-xs;
    letter-spacing: $primary-letter-spacing;
    font-family: inherit;
    margin-left: 15px;
    width: 300px;
    height: 64px;
    resize: none;
  }
}